modules = ["nodejs-20", "python-3.11", "web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SciVentureApp"

[[workflows.workflow]]
name = "SciVentureApp"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35459
externalPort = 3001

[[ports]]
localPort = 42805
externalPort = 3000

[agent]
expertMode = true

[userenv]

[userenv.shared]
VITE_GOOGLE_API_KEY = "AIzaSyDkFy1SKQIcPB-r0beVrffmidRmVBmtwvs"
GOOGLE_API_KEY = "AIzaSyDkFy1SKQIcPB-r0beVrffmidRmVBmtwvs"
